[Unit]
Description=Hashpipe instances 0,1
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/opt/mnt/share/hpdaq_service.conf
Restart=on-failure
Type=forking
ExecStart=/opt/mnt/bin/init_hpguppi.py $INSTANCE_SYSTEM_NAME 0,1 --configfile /opt/mnt/share/config_hpguppi.yml
ExecStartPost=/home/sonata/.rvm/gems/ruby-2.1.10/bin/hashpipe_redis_gateway.rb -s redishost -i 0,1 &
ExecStopPost=/opt/mnt/bin/init_hpguppi.py $INSTANCE_SYSTEM_NAME 0,1 --delete --configfile /opt/mnt/share/config_hpguppi.yml
StandardOutput=append:/var/log/hpdaq.log
StandardError=append:/var/log/hpdaq.log
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
