[Unit]
Description=Initialisation of hashpipe instances 0 and 1.
#RequiresMountsFor=/opt/mnt /home
After=network.target
Requires=network.target
StartLimitInterval=150
StartLimitBurst=3

[Service]
EnvironmentFile=/opt/mnt/share/hpguppi_service.conf
Restart=on-failure
ExecStartPre=/usr/bin/test -d /opt/mnt/bin
RestartSec=30
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/init_hpguppi.sh $INSTANCE_SYSTEM_NAME
ExecStop=/opt/mnt/bin/kill_hashpipe_related.sh

[Install]
WantedBy=multi-user.target
