[Unit]
Description="Redis Gateway for active Hpguppi_daq Instances"
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/opt/mnt/share/redis_gateway_service.conf
ExecStart=/home/sonata/.rvm/gems/ruby-2.1.10/bin/hashpipe_redis_gateway.rb -s redishost -f
Restart=always
#StartLimitBurst=25
#RestartSec=1
#StartLimitIntervalSec=30
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
